In [1]:
import pandas as pd
from datetime import timedelta, datetime as dt
import datetime
import time
import sqlalchemy as sql

### GTFS-RL

In [ ]:
def fetch_data_from_sql_remote(query, db='gtfs_v'):
    start = time.time()
    cred = {'username': 'gozalid_rw', 'password': 'bwAHfeWYZ6#fG983sIXyTkW#eQ5dT1', 'host': 'resprd.mysqldb.qut.edu.au', 'port': '3308', 'database': 'gtfs_v'}
    print("fetching data from remote sql.....")
    print("query = ", query)
    try:
        data = pd.read_sql_query(query, f"mysql://{cred['username']}:{cred['password']}@{cred['host']}:{cred['port']}/{cred['database']}")
        end = time.time()
        print(f"sql query fetching data executed in: {str((end - start) / 60)} mins")
        print("sql remote data = ", data.shape)
        return data
    except (pd.errors.DatabaseError, sql.exc.ProgrammingError):
        return pd.DataFrame()

In [11]:
SELECTED_DATE = datetime.date(2024, 7, 26)
date_name = str(SELECTED_DATE.day)+"-"+str(SELECTED_DATE.month)+"-"+str(SELECTED_DATE.year)
month_name = SELECTED_DATE.strftime("%B") + "_" +str(SELECTED_DATE.year)
print(date_name)
month_name = month_name.lower()

26-7-2024

In [ ]:
high_frequency_buses = ['60', '61', '100', '111' ,'120', '130' ,'140', '150', '180', '196' , '199' ,'200' ,'222', '330', '333' ,'340', '345', '385', '412', '444', '555']

In [ ]:
live_gtfs_data = fetch_data_from_sql_remote(f"select * from `{month_name}` where DATE(FROM_UNIXTIME(`timestamp`)) = str_to_date('{date_name}', '%%d-%%m-%%Y')")
live_gtfs_data = live_gtfs_data.drop(['index'], axis=1)
live_gtfs_data.head()

### GTFS-Static

In [7]:
from zipfile import ZipFile
import pandas as pd
import datetime
import os
from shapely.geometry import Point, LineString
from ast import literal_eval
from pyproj import Geod
wgs84_geod = Geod(ellps='WGS84')
import geopandas as gpd
import numpy as np

In [12]:
filename = f"Y:\\Data\\GTFS_NEW\\GTFS Static\\GTFS Static {date_name}.zip"
# date_name = filename.split(" ")[-1]
print(filename)
zip_file = ZipFile(filename)
trips = pd.read_csv(zip_file.open('trips.txt'))
stop_times = pd.read_csv(zip_file.open('stop_times.txt'))
def date_parser(x, date):
    """
    Convert date and time in string to datetime format.
    """
    return pd.to_datetime(date) + pd.to_timedelta(x)
for name in ['arrival_time', 'departure_time']:
        stop_times[name] = stop_times[name].apply(date_parser, date=SELECTED_DATE)
static_schedule = stop_times.groupby('trip_id').agg(end_time=('arrival_time', 'last'), start_time=('departure_time', 'first'), stop_sequence=('stop_sequence', 'last'))
static_schedule = static_schedule.reset_index().merge(trips, on=['trip_id'])
static_schedule['pt_num'] = static_schedule['shape_id'].apply(lambda x: x[:-4])
static_schedule.rename(columns={'arrival_time':'end_time', 'departure_time':'start_time'}, inplace=True)
static_schedule.head()

Y:\Data\GTFS_NEW\GTFS Static\GTFS Static 26-7-2024.zip

,trip_id,end_time,start_time,stop_sequence,route_id,service_id,trip_headsign,direction_id,block_id,shape_id,pt_num
0,28348512-BBL 24_25-36196,2024-07-26 07:22:00,2024-07-26 06:30:00,19,399-868,BBL 24_25-36196,Samford Valley Loop,0,NaN,3990006,399
1,28348513-BBL 24_25-36196,2024-07-26 06:22:00,2024-07-26 05:50:00,15,399-868,BBL 24_25-36196,Ferny Grove station,0,NaN,3990007,399
2,28348514-BBL 24_25-36196,2024-07-26 19:07:00,2024-07-26 18:30:00,19,399-868,BBL 24_25-36196,Samford Valley Loop,0,NaN,3990006,399
3,28348515-BBL 24_25-36196,2024-07-26 18:25:00,2024-07-26 17:48:00,19,399-868,BBL 24_25-36196,Samford Valley Loop,0,NaN,3990006,399
4,28567188-ATS_TBS 24-36343,2024-07-26 22:06:00,2024-07-26 21:31:00,3,R594-3039,ATS_TBS 24-36343,"Ipswich, Bell St",0,NaN,R5940097,R594

In [ ]:
static_schedule.loc[static_schedule.pt_num.isin(high)]